<ion-view view-title="Details" class="details-page">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="detail-item">
          <div class="description left">Brand</div>
          <div class="content right">{{ ::details.brand }}</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="detail-item">
          <div class="description left">Size</div>
          <div class="content right">{{ ::details.size }}</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="detail-item">
          <div class="description left">Rented by</div>
          <div class="content right"><span ng-if="details.rentedBy">{{ ::details.rentedBy }}</span><button ng-if="!details.rentedBy" class="button button-balanced">Rent out</button></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
