<ion-view view-title="New Item" class="new-item-page">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Brand</span>
          <select name="brand" ng-model="brand" ng-options="brand for brand in brands track by brand.id"></select>
        </label>
        <label class="item item-input">
          <span class="input-label">Size</span>
          <select name="brand" ng-model="size" ng-options="size for size in sizes track by size.id"></select>
        </label>
        <button class="button button-full button-balanced" ng-click="save()">Save</button>
      </div>
    </form>
  </ion-content>
</ion-view>
